@import url('https://fonts.googleapis.com/css2?family=Bitcount:wght@100..900&family=Courgette&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Roboto Condensed', sans-serif;
}

.menu {
    background-color: #1A202C;
    color: white;
    height: 70px;
}

.menu_container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    margin: 0 auto;
    max-width: 1200px;
    height: 100%;
}

.menu_links {
    height: 100%;
    transition: transform .5s;
    display: flex;
}

.menu_item {
    list-style: none ;
    position: relative;
    height: 100%;
    --clip: polygon(0 0, 100% 0, 100% 0, 0 0);
    --transform: rotate(-90deg);
}

.menu_item:hover {
    --clip: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
    --transform: rotate(0);
}

.menu_link:hover {
    background-color: #5877b5;
}

.menu_link {
    color: white;
    text-decoration: none;
    padding: 0 30px;
    display: flex;
    height: 100%;
    align-items: center;
}

.menu_arrow {
    transform: var(--transform);
    transition: transform .3s;
    display: block;
    margin-left: 3px;
}

.menu_nesting {
    list-style: none;
    transition: clip-path .3s;
    clip-path: var(--clip);
    position: absolute;
    right: 0;
    bottom: 0;
    width: max-content;
    transform: translateY(100%);
    background-color: #000;
}

.menu_link--inside {
    padding: 30px 50px 30px 20px;
}

.menu_link--inside:hover {
    background-color: #798499;
}

.menu_hamburger {
    height: 100%;
    display: flex;
    align-items: center;
    padding: 0px 20px;
    display: none;
    cursor: pointer;
}

.menu_img {
    display: block;
    width: 36px;

}

@media (max-width:800px){
    .menu_hamburger {
        display: flex;
    }

    .menu_item{
        --clip:0;
        overflow: hidden;
    }

    .menu_item--activate{
        --transform: rotate(0);
        --background: #5e7094;
    }

    .menu_item--show{
        background-color: var(--background);
    }

    .menu_links {
        position: fixed;
        max-width: 400px;
        width: 100%;
        top: 70px;
        bottom: 0;
        right: 0;
        background-color: #000;
        overflow-y: auto;
        display: grid;
        grid-auto-rows: max-content;
        transform: translateX(100%);    
    }

    .menu_links--show{
        transform: unset;
        width: 100%;
    }

    .menu_link{
        padding: 25px 0px;
        padding-left: 30px;
        height: auto;
    }

    .menu_arrow {
        margin-left: auto;
        margin-right: 20px;
    }

    .menu_nesting {
        display: grid;
        position: unset;
        width: 100%;
        transform: translateY(0);
        height: 0;
        transition: heigth .3s;
    }
    .menu_link--inside {
        width: 90%;
        margin-left: auto;
        border-left: 1px solid #798499;

    }
}